{form name="lang_edit"} {input name='langId'}
<table class="mt_table_1 mt_form">
    <tr class="mt_alt2 mt_tr_first">
        <td class="mt_label">{label name='label'}</td>
        <td class="mt_value">{input name='label'}</td>
        <td class="mt_desc">{desc name='label'}</td>
    </tr>
    <tr class="mt_alt1">
        <td class="mt_label">{label name='tag'}</td>
        <td class="mt_value">{input name='tag'}</td>
        <td class="mt_desc">{desc name='tag'}</td>
    </tr>
    <tr class="mt_alt2 mt_tr_last">
        <td class="mt_label">{label name='rtl'}</td>
        <td class="mt_value">{input name='rtl'}</td>
        <td class="mt_desc">{desc name='rtl'}</td>
    </tr>
</table>
<div class="clearfix">
    <div class="mt_right">{submit name='submit' class="mt_positive"}</div>
</div>
{/form}