<ul class="mt_bl clearfix mt_small mt_left">
    <li>
        <a href="javascript://" id="{$showId}">{text key="admin+select_mode"}</a>
    </li>
</ul>
<div id="{$containerId}" style="display: none; float: left;">
    <ul class="mt_bl clearfix mt_small mt_left">
        <li>
            <a href="javascript://" id="{$deleteId}" class="mt_mild_red delete">{text key="admin+delete_selected"}</a>
        </li>
    </ul>
    <ul class="mt_bl clearfix mt_small mt_left">
        <li>
            <a href="javascript://" id="{$backId}">{text key="admin+exit_select_mode"}</a>
        </li>
    </ul>
</div>