<div id="{$id}" style="float: left;" class="mt_context_action_block mt_context_action_value_block clearfix">
    <div class="mt_context_action">
        <a class="mt_context_action_value">{text key="admin+period"}: <span>{text key="admin+all_time"}</span></a><span class="mt_context_more"></span>
        <div style="opacity: 1; top: 18px;" class="mt_tooltip mt_small mt_tooltip_top_right">
            <div class="mt_tooltip_tail">
                <span></span>
            </div>
            <div class="mt_tooltip_body">
                <ul class="mt_context_action_list mt_border">
                    <li><a href="#" data-date="">{text key="admin+all_time"}</a></li>
                    {foreach from=$dates key=k item=v}
                    <li><a href="#" data-date="{$k}">{$v}</a></li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </div>
</div>