{block_decorator name="box" type="empty" addClass="mt_stdmargin mt_wide mt_automargin mt_center"} {text key="base+delete_user_confirmation"} {/block_decorator} {block_decorator name="box" type="empty" addClass="mt_stdmargin mt_wide mt_automargin mt_center"}
<form name="deleteUser" method="post">
    {decorator name="button" type="submit" buttonName="delete_user_button" class="mt_ic_delete mt_red" langLabel="base+delete_user_delete_button"} {decorator name="button" type="submit" buttonName="cansel_button" langLabel="base+delete_user_cancel_button"}
</form>
{/block_decorator}