<div id="{$uniqId}">
    {if !empty($data.text)}
    <div class="mt_newsfeed_body_status mt_smallmargin">{$data.text|more:150}</div>
    {/if} {if $displayFormat=="video"}


    <div class="clearfix mt_newsfeed_oembed_atch">
        <div class="mt_newsfeed_item_picture">
            <a href="{$data.url}" data-action="play">
                <img src="{$data.image.thumbnail}" style="max-width: 100%;">
                <div class="mt_oembed_video_cover"></div>
            </a>
        </div>
        <div class="mt_newsfeed_item_content">
            <a href="{$data.url}" class="mt_newsfeed_item_title">
            {$data.title}
        </a>

            <div class="mt_remark mt_smallmargin">
                {$data.description|more:150}
            </div>
        </div>
    </div>


    {elseif $displayFormat=="image_content"}


    <div class="mt_newsfeed_oembed_atch clearfix">
        <div class="mt_newsfeed_item_picture">
            <a href="{$data.url}">
                <img src="{$data.image.thumbnail}" style="max-width: 100%;" />
            </a>
        </div>
        <div class="mt_newsfeed_item_content">

            <a href="{$data.url}" class="mt_newsfeed_item_title">
            {$data.title}
        </a>

            <div class="mt_remark mt_smallmargin">
                {$data.description|more:150}
            </div>
        </div>
    </div>


    {elseif $displayFormat=="image"}


    <div class="mt_newsfeed_large_image clearfix">
        <div class="mt_newsfeed_item_picture">
            <a href="{$data.image.preview}" data-src="{$data.image.view}" onclick="MT.showImageInFloatBox($(this).data('src')); return false;">
                <img style="max-width: 100%;" src="{$data.image.preview}" />
            </a>
        </div>
    </div>


    {elseif $displayFormat=="content"}


    <div class="mt_newsfeed_item_content">
        <a href="{$data.url}" class="mt_newsfeed_item_title">
        {$data.title}
    </a>
        <div class="mt_remark mt_smallmargin">
            {$data.description|more:150}
        </div>
    </div>



    {/if}
</div>