{*
<table class="mt_table_1 mt_smallmargin mt_small mt_alt1">
    <tbody>
        <tr class="mt_tr_first mt_tr_last">
            <td>
                <p class="mt_nowrap">{text key="base+sort_control_sortby"}:</p>
            </td>
            <td class="sort_link">
                <ul>
                    {foreach from=$itemList item='item'}
                    <li {if $item.isActive}class="active" {/if}><a href="{$item.url}">{$item.label}</a></li>
                    {/foreach}
                </ul>
            </td>
        </tr>
    </tbody>
</table>*}
<div class="mt_sort_control mt_smallmargin mt_small mt_alt2"><span class="mt_sort_control_label">{text key="base+sort_control_sortby"}:</span>{foreach from=$itemList item='item'}<a href="{$item.url}" {if $item.isActive}class="active" {/if}><span>{$item.label}</span></a>{/foreach}
</div>