{form name='configSaveForm'}
<table class="mt_table_1 mt_form">
    <tr class="mt_tr_first">
        <th class="mt_name mt_txtleft" colspan="3">
            <span class="mt_section_icon mt_ic_script">{text key='admin+site_installation'}</span>
        </th>
    </tr>
    <tr class="{cycle name=" install " values="mt_alt1,mt_alt2 "}">
        <td class="mt_label">{text key='admin+site_title'}</td>
        <td class="mt_value">{input name='siteTitle'} {error name='siteTitle'}</td>
        <td class="mt_desc"></td>
    </tr>
    <tr class="{cycle name=" install " values="mt_alt1,mt_alt2 "}">
        <td class="mt_label">{text key='admin+site_email'}</td>
        {if $showVerifyButton}
        <td class="mt_value">{input style="width:60%;" name='siteEmail'} {decorator name="button" class='mt_ic_mail' id="verify_site_email_button" langLabel='admin+verify_site_email'} {error name='siteEmail'}</td>
        {else}
        <td class="mt_value">{input name='siteEmail'} {error name='siteEmail'}</td>
        {/if}
        <td class="mt_desc">{text key='admin+site_email_desc'}</td>
    </tr>
    <tr class="{cycle name=" install " values="mt_alt1,mt_alt2 "}">
        <td class="mt_label">{text key='admin+site_tagline'}</td>
        <td class="mt_value">{input name='tagline'} {error name='tagline'}</td>
        <td class="mt_desc mt_small">{text key='admin+site_tagline_desc'}</td>
    </tr>
    <tr class="{cycle name=" install " values="mt_alt1,mt_alt2 "} mt_tr_last">
        <td class="mt_label">{text key='admin+site_description'}</td>
        <td class="mt_value">{input name='description'} {error name='description'}</td>
        <td class="mt_desc mt_small">{text key='admin+site_description_desc'}</td>
    </tr>
    <tr class="mt_tr_delimiter">
        <td></td>
    </tr>
    <tr class="mt_tr_first">
        <th class="mt_name mt_txtleft" colspan="3">
            <span class="mt_section_icon mt_ic_script">{text key='admin+captcha_settings'}</span>
        </th>
    </tr>
    <tr class="{cycle name=" install " values="mt_alt1,mt_alt2 "}">
        <td class="mt_label">{text key='admin+display_captcha_label'}</td>
        <td class="mt_value">{input name='enableCaptcha'} {error name='enableCaptcha'}</td>
        <td class="mt_desc"></td>
    </tr>
    <tr class="mt_tr_delimiter">
        <td></td>
    </tr>
    <tr class="mt_tr_first">
        <th class="mt_name mt_txtleft" colspan="3">
            <span class="mt_section_icon mt_ic_clock">{text key='admin+time_settings'}</span>
        </th>
    </tr>
    <tr class="{cycle name=" time " values="mt_alt1,mt_alt2 "}">
        <td class="mt_label">{label name='dateFieldFormat'}</td>
        <td class="mt_value">{input name='dateFieldFormat'} {error name='dateFieldFormat'}</td>
        <td class="mt_desc mt_small"></td>
    </tr>
    <tr class="{cycle name=" time " values="mt_alt1,mt_alt2 "}">
        <td class="mt_label">{text key='admin+timezone'}</td>
        <td class="mt_value">{input name='timezone'} {error name='timezone'}</td>
        <td class="mt_desc"></td>
    </tr>
    <tr class="{cycle name=" time " values="mt_alt1,mt_alt2 "}">
        <td class="mt_label">{text key='admin+use_relative_time'}</td>
        <td class="mt_value">{input name='relativeTime'} {error name='relativeTime'}</td>
        <td class="mt_desc mt_small">{text key='admin+site_relative_time_desc'}</td>
    </tr>
    <tr class="{cycle name=" time " values="mt_alt1,mt_alt2 "} mt_tr_last">
        <td class="mt_label">{text key='admin+use_military_time'}</td>
        <td class="mt_value">{input name='militaryTime'}</td>
        <td class="mt_desc mt_small"></td>
    </tr>
    <tr class="mt_tr_delimiter">
        <td></td>
    </tr>
    <tr class="mt_tr_first">
        <th class="mt_name mt_txtleft" colspan="3">
            <span class="mt_section_icon mt_ic_app">{text key='admin+finance_settings'}</span>
        </th>
    </tr>
    <tr class="{cycle name=" time " values="mt_alt1,mt_alt2 "}">
        <td class="mt_label">{label name='currency'}</td>
        <td class="mt_value">{input name='currency'} <br />{error name='currency'}</td>
        <td class="mt_desc mt_small"></td>
    </tr>

</table>
<div class="clearfix mt_stdmargin">
    <div class="mt_right">{submit name='save' class='mt_ic_save mt_positive'}</div>
</div>
{/form} {if $showVerifyButton}
<div style="display:none;">
    <div id="site-email-verify">
        {block_decorator name="box" type="empty" addClass="mt_automargin" style="width:325px;padding-bottom:10px;"} {text key="admin+site_email_verify_promo"} {/block_decorator} {block_decorator name="box" type="normal" addClass="mt_stdmargin mt_wide mt_automargin
        mt_center"} {decorator name="button" class='mt_ic_mail' id="sendVerifyMail" langLabel='admin+send_verification_email'} {/block_decorator}
    </div>
</div>
{/if}